:root{
    --mainColor:#9747FF;

}
html{
    
}
img{
    max-width: 100%;
}

.headerText{
 text-align: center;   
 display: inline-block;
 position: relative;
 cursor: pointer;
 margin: 5px 0;
 z-index: 4;
}
.headerText::before{
    content: '';
    position: absolute;
    right: 0;
    width: 40%;
    height: 4px;
    bottom: -5px;
    background: black;
}
/* Start Header  */
header{
    background-color: white;
    display: flex;
    align-items: center;
    width: 100%;

}
nav{
    position: fixed !important;
    top: 0 !important;
    width: 100% !important;
    z-index: 200 !important;
    background: white !important;
}
.navbar-light .navbar-toggler{
    color: var(--mainColor) !important;
    border-color:var(--mainColor) !important;
}
.navbar-collapse{
    justify-content: end;
}

nav li a{
    font-size: 18px;
    font-weight: 700;
    padding: 10px 20px !important;
    display: inline-block !important;
}
nav .active{
    color: var(--mainColor) !important;
    position: relative;
}
nav .active::before{
    content: '';
    background-color: var(--mainColor) !important;
    position: absolute;
    right: 8px;
    bottom: 0;
    width: calc(100% - 16px);
    height: 2px;
}
/* End header */

/* start Main  */
main{
    padding: 60px 0;
    height: auto;
    overflow: hidden;
    position: relative;
    background-color: #F6F6F6;
    margin: 60px 0 0 0 ;
}
main .round{
    width: 862px ;
    height: 862px ;
    top: -186px;
    left: -287px;
    border-radius: 483px;
    position: absolute;
    background-color: var(--mainColor);
    z-index: 1;
}
main .row .col{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    z-index: 2;
    margin-bottom: 200px;
}
main .row .col h2{
    margin-bottom: 10px;
    font-size: 36px;
}
main .row .col p{
    color: var(--mainColor);
    text-align: start;
    font-size: 24px;
    font-weight: 700;
}
main .row button{
    background-color: var(--mainColor);
    outline: none;
    border-color: var(--mainColor);
    color: white;
    font-size: 20px;
    margin: 20px 0;
    padding: 18px 90px 21px 90px ;
    border-radius: 8px;
    width: 358px;
    height: 77px;
}
main .row button:hover{
    background-color:#8024f7  !important ;
    outline: none !important;
    color: white !important;
    border-color: var(--mainColor) !important;
}
main img{
    height: 659px;
}

section{
    padding: 60px 0 0; 
    background-color:#F6F6F6;
    overflow: hidden;
    position: relative;
}
section .container{
    text-align: center;
}
section .container .col{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}
section .container h4{
    font-size: 36px;
}
section .container h2{
    font-size: 2rem;
    color: var(--mainColor);
    font-weight: 800;
}
section .container ul{
    text-align: start;
    color: #979797;
    font-size: 1.4rem;
}

section .container .row img{
    position: relative;
}
section .container .row .imgContainer{
    overflow: hidden;
}
section .container .row .imgContainer::before{
    content: '';
    width: 89%;
    height: 88%;
    bottom: 0;
    right: 57%;
    position: absolute;
    background-color: var(--mainColor);
    z-index: 1;
}
.productPenefit{
    padding: 60px 0;
}
.productPenefit .col{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
    flex-direction: column;
    padding: 20px;
}
.productPenefit .swapBtns{
    text-align: center;
}
.productPenefit .swapBtns button{
    outline: none;
    padding: 10px;
    border-radius: 50%;
    border: none;
    background: #9747FF33;
    margin: 5px;
}
.productPenefit .swapBtns .active{
    background:var(--mainColor)
}


.productComponents{
    text-align: start;
    margin-bottom: 50px;
}

 h5{
    font-size: 1.3rem;
    text-align: start;
    font-weight: 500;
    position: relative;
    z-index: 2;
}
 .head {
    font-size: 1.6rem;
    padding-top: 5px;
    color: var(--mainColor);
    font-weight: 600;
}
.col .headInprComps {
    padding: 15px;
}
.roundProcomps{
    width: 800px;
    height: 800px;
    top: -50%;
    left: -287px;
    border-radius: 50%;
    position: absolute;
    background-color: var(--mainColor);
    z-index: 1;
}

.imgRound{
    position: absolute;
    left: 0;
    top: 0px;
    width: 650px;
}
footer button{
    background-color: var(--mainColor);
    outline: none;
    border-color: var(--mainColor);
    color: white;
    font-size: 20px;
    margin: 20px 0;
    padding: 18px 90px 21px 90px;
    border-radius: 8px;
    width: 358px;
    height: 77px;
}
footer img{
height: 100%;
}
footer .col-12{
    padding: 30px;
}
footer .list ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    gap: 40px;
    background-color: var(--mainColor);
    color: white !important;
    padding: 20px 0;
}
footer .list ul a{
    color: white;
}
footer .list ul a:hover{
    color: white;
}
